manifest {
  mainScript                                = 'main.nf'
  name                                      = 'consensus_printer'
  author                                    = 'Gültekin Ünal'
  homePage                                  = 'https://github.com/cinnetcrash/consensus_printer'
  version                                   = 'v.1.0'
  defaultBranch                             = 'master'
}

//########## Setting the Profile ##########
profiles {
  docker {
    includeConfig './configs/docker.config'
    }
